<div class="full-bg">
<div class="recover-container">
    <h2>Recuperar Contraseña</h2>
  
    <div *ngIf="!foundUser">
      <label>Nombre de usuario:</label>
      <input type="text" [(ngModel)]="username" name="username" />
      <button (click)="searchUser()">Buscar Usuario</button>
    </div>
  
    <div *ngIf="foundUser">
      <p>Usuario encontrado: <strong>{{ foundUser.username }}</strong></p>
      <label>Nueva contraseña:</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" />
      <button (click)="resetPassword()">Actualizar Contraseña</button>
    </div>
    <a (click)="goTo('login')" class="back-link">← Volver al inicio de sesión</a>
  </div>
</div>
